<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>ArtistsPlace - Support</title>
	</head>
	<body style="margin: 0; padding: 0;">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td>

					<!-- Header Top Start -->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td>
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td align="left"  bgcolor="#2e3537">
											<!-- Space -->
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
											</table>
											<table align="center">
												<tr>
													<td width="22">
														<%= image_tag("email/marker-icon-white.png", alt: "location" ) %>
													</td>
													<td style="color: #fff; font-size: 12px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">One infinity loop, 54100</td>
													<td width="22"></td>
													<td width="22">
														<%= image_tag("email/phone-icon-white.png", alt: "location" ) %>
													</td>
													<td style="color: #fff; font-size: 12px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">+61&nbsp;435&nbsp;960&nbsp;138</td>
													<td width="22"></td>
													<td width="22">
														<%= image_tag("email/mail-icon-white.png", alt: "location" ) %>
													</td>
													<td>
														<a style="color: #fff; font-size: 12px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;" href="info@artistsplace.com.au">info@artistsplace.com.au</a>
													</td>
												</tr>
											</table>
											<!-- Space -->
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<!-- Header Top End -->

					<!-- Header Start -->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td style="padding:15px 0 0 0;">
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td>
											<table align="left" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
												<!-- logo -->
												<tr>
													<td align="left">
														<%= image_tag("logo_img.png", alt: "Artists Place", style: "display: block;" ) %>
														<span style="font-size: 18px; line-height: 18px; font-family:helvetica, Arial, sans-serif; color:#999999;" >For Australian Artists</span>
													</td>				
													<td  height="75" style="text-align: right; vertical-align: middle; font-size: 28px; line-height: 34px; font-family:helvetica, Arial, sans-serif; color:#343434;";">
														Support Request
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<!-- Header End -->

					<!-- Content Start -->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td style="padding:15px 0 0 0;">
								<table align="center" bgcolor="#fafafa"  border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td>
											<table align="left" border="0" cellpadding="10px" cellspacing="0" width="580" style="border-collapse: collapse;">
												<tr>
													<td align="left" style="font-family: helvetica, Arial, sans-serif; font-size: 18px; color: #777777; ">
														From:
													</td>
													<td align="left" style="font-family: helvetica, Arial, sans-serif; font-size: 18px; color: #777777; ">
														<%= @support[:name] %>
													</td>
												</tr>
												<tr>
													<td align="left" style="font-family: helvetica, Arial, sans-serif; font-size: 18px; color: #777777; ">
														Email:
													</td>
													<td align="left" style="font-family: helvetica, Arial, sans-serif; font-size: 18px; color: #777777; ">
														 <%= @support[:email] %>
													</td>
												</tr>
												<tr>
													<td align="left" style="font-family: helvetica, Arial, sans-serif; font-size: 18px; color: #777777; ">
														Subject:
													</td>
													<td align="left" style="font-family: helvetica, Arial, sans-serif; font-size: 18px; color: #777777; ">
														<%= @support[:subject] %>
													</td>
												</tr>
												<tr>
													<td align="left" style="font-family: helvetica, Arial, sans-serif; font-size: 18px; color: #777777; vertical-align: top;">
														Message:
													</td>
													<td align="left" style="font-family: helvetica, Arial, sans-serif; font-size: 18px; color: #777777; vertical-align: top;">
														<%= @support[:message] %>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>

					<!-- Content End -->

					<!-- Footer Start -->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td>
								<table bgcolor="#ffffff" align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td>
											<!-- Space -->
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr>
											</table>
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="540" style="border-collapse: collapse;">
												<tr>
													<td>
														<!-- First Column -->
														<table align="left" border="0" cellpadding="0" cellspacing="0" width="250" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
															<tr>
																<td style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">
																	ArtistsPlace is an online store predominantly for Australian artists to list their artworks for sale to the world market. At ArtistPlace we endeavour to present our artists work in the best possible manner so that our customers can visualise exactly what it is they are buying. 
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td>
																	<table align="left" border="0" cellpadding="0" cellspacing="0" width="45" style="border-collapse: collapse;">
																		<tr>
																			<td>
																				<a href="https://www.facebook.com">
																					<%= image_tag("email/facebook-icon.png", alt: "Facebook", style: "display: block;" ) %>
																				</a>
																			</td>
																		</tr>
																	</table>
																	<table align="left" border="0" cellpadding="0" cellspacing="0" width="45" style="border-collapse: collapse;">
																		<tr>
																			<td>
																				<a href="https://www.twitter.com">
																					<%= image_tag("email/twitter-icon.png", alt: "Twitter", style: "display: block;" ) %>
																				</a>
																			</td>
																		</tr>
																	</table>
																	<table align="left" border="0" cellpadding="0" cellspacing="0" width="45" style="border-collapse: collapse;">
																		<tr>
																			<td>
																				<a href="https://plus.google.com/">
																					<%= image_tag("email/googleplus-icon.png", alt: "Google+", style: "display: block;" ) %>
																				</a>
																			</td>
																		</tr>
																	</table>
																	<table align="left" border="0" cellpadding="0" cellspacing="0" width="45" style="border-collapse: collapse;">
																		<tr>
																			<td>
																				<a href="https://www.linkedin.com/">
																					<%= image_tag("email/linkedin-icon.png", alt: "Linked In", style: "display: block;" ) %>
																				</a>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
														<!-- Gutter 20px -->
														<table align="left" border="0" cellpadding="0" cellspacing="0" width="40" style="border-collapse: collapse;">
															<tr>
																<td>
																	&nbsp;
																</td>
															</tr>
														</table>
														<!-- Second Column -->
														<table align="left" border="0" cellpadding="0" cellspacing="0" width="250" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="57">&nbsp;</td></tr>
															<tr>
																<td width="22">
																	<%= image_tag("email/marker-icon.png", alt: "location" ) %>
																</td>
																<td style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">One infinity loop, 54100</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td width="22">
																	<%= image_tag("email/phone-icon.png", alt: "location" ) %>
																</td>
																<td style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">+12&nbsp;1234&nbsp;1234&nbsp;123</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td width="22">
																	<%= image_tag("email/fax-icon.png", alt: "location" ) %>
																</td>
																<td style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">+12&nbsp;1234&nbsp;1234&nbsp;123</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td width="22">
																	<%= image_tag("email/mail-icon.png", alt: "location" ) %>
																</td>
																<td>
																	<a style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;" href="mailto:info@artistsplace.com.au">info@artistsplace.com.au</a>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
											<!-- Space -->
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>

					</table>
					<!-- Footer End -->

					<!-- Subfooter Start -->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td>
								<table bgcolor="#f5f5f5" align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td>
											<!-- Space -->
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
												<tr><td style="font-size: 0; line-height: 0;" bgcolor="#eaeaea" height="1">&nbsp;</td></tr>
												<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
											</table>
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="540" style="border-collapse: collapse;">
												<tr>
													<td align="center" style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">
														Copyright © 2018 <a href="http://www.comapps.net.au" style="color: #3697d9; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;">Commercial Applications</a>. All Rights Reserved / <a href="#" style="color: #3697d9; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;"> Unsubscribe</a>
													</td>
												</tr>
											</table>
											<!-- Space -->
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>

					</table>
					<!-- Subfooter End -->
			

				</td>
			</tr>
		</table>
	</body>
</html>