<% if spree_current_user %>
	<%= link_to spree.account_path, class: "btn btn-default btn-sm" do %><span><i class="fa fa-user pr-10"></i><%= Spree.t(:my_account) %></span>
	<% end %> 

  <%= link_to spree.logout_path, class: "btn btn-default btn-sm" do %><span><i class="fa fa-lock pr-10"></i><%= Spree.t(:logout) %></span>
  <% end %>

<% else %>

	<%= link_to spree.signup_path, class: "btn btn-default btn-sm" do %><i class="fa fa-user pr-10"></i> Sign Up<% end %>

	<%= render partial: 'spree/shared/login' %>

<% end %>
